<!DOCTYPE html> 
<html>
<head>
    <title>Sudoku Bot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use this link stylesheet link for local testing-->
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <!-- Use this link stylesheet link for runtime (make this switch before deploying)-->
    <link rel="stylesheet" href="https://us-central1-my-lambda-functions.cloudfunctions.net/sudoku-bot-ui-page/style.css">
    <link rel="shortcut icon" href="https://i.imgur.com/HHbH5TJ.jpg">
    <link rel="icon" href="https://i.imgur.com/HHbH5TJ.jpg">
</head>
</body>
</html>
<html> 
<body> 
<h1>Sudoku Bot</h1> 
<div class="center-div" id="display-area">
    <table id="status">
            <tr>
                <td style="width: 25px;">
                    <img src="https://i.imgur.com/1p2XJr9.jpg" width="25" height="25" style="background-color:#aaaaaa;">
                </td>
                <td>
                    <div id="status_message">
                        Just waking up. 
                    </div>
                </td>
            </tr>
    </table>
    <table id="transcript">
        
    </table>
</div>
<div class="center-input" id="input_form">
    <form>
        <input autofocus type="text" id="text_input" name="text_input" placeholder="Your input text">
    </form>
    <p>
        Or, select or drag and drop and image file below

    </p>
    <form id="file-upload" enctype = "multipart/form-data">
        <input class="file-input" type="file" accept="image/*" name="file_to_upload" id="file_to_upload" onchange="send_file()"/>
    </form>  
</div>
<div hidden>
    <input type="text" id="url" value="{{url}}">
    <input type="text" id="socket_url" value={{socket_url}}>
    <input type="text" id="uploader_url" value={{uploader_url}}>
    <input type="text" id="session_id" value={{session_id}}>
    <img src="https://i.imgur.com/1p2XJr9.jpg" width="25" height="25" style="background-color:#aaaaaa;">
    <img src="https://i.imgur.com/PnPpzNd.jpg" width="25" height="25" style="background-color:#aaaaaa;">
</div>
<script> 
    let socket_url = document.getElementById('socket_url').value;
    let url = document.getElementById('url').value; 

    function update_transcript (html) {
        document.getElementById('transcript').innerHTML = html;
        scroll_to_bottom = document.getElementById('display-area');
        scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
        input_field = document.getElementById('text_input')
        input_field.focus()
    };

    // https://www.esegece.com/websockets/articles/features/225-websocket-upload-files-from-javascript
    function send_file () {
        file_to_upload = document.getElementById('file_to_upload').files[0]; 
        uploader_url = document.getElementById('uploader_url').value
        session_id = document.getElementById('session_id').value;
        if (file_to_upload != '') {
            reader = new FileReader();
            rawData = new ArrayBuffer();            

            reader.loadend = function() {
                // Don't need to do anything here
            }

            reader.onload = function(e) {
                // Once the file is loaded (read) open a socket, transmit it, and listen for an
                // updated dialog tanscript in return
                rawData = e.target.result;
                uploader_socket = new WebSocket(uploader_url);
                uploader_socket.binaryType = "arraybuffer";
                uploader_socket.onopen = function() {
                    // Once open, first send name of file and session id
                    json_input = {
                        "session_id" : session_id,
                        "filename": file_to_upload.name
                    }
                    // alert(JSON.stringify(json_input))
                    uploader_socket.send(JSON.stringify(json_input))
                    // then send image file contents
                    uploader_socket.send(rawData);
                }
                uploader_socket.addEventListener('message', event => {
                    // Listen for response, which will be an updated dialog transcript
                    update_transcript(event.data);
                    document.getElementById('file_to_upload').value = ''
                });
            }
            reader.readAsArrayBuffer(file_to_upload);
        }
        //Return focus to dialog inut field
        input_field = document.getElementById('text_input')
        input_field.focus()
    };

    input_form = document.getElementById('input_form')
    //Initiall hide this input form
    input_form.style.display = 'none';

    xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function() {
        // this waits until the GET request below returns then redirects
        if (xmlhttp.readyState==4) {
            // Don't need this next statement anymore, not re-directing
            // document.location.href = redirect_url; 
            // Stop the message updates and ticks
            clearInterval(tickInterval);
            clearInterval(msgInterval);
            // Make the input field visible
            input_form.style.display = 'block';

            // Open socket connection
            // send null input
            // set transcript value
            session_id = document.getElementById('session_id').value;
            json_input = {
                "session_id" : session_id,
                "input": ""
            }
            let socket = new WebSocket(socket_url);
            socket.onopen = function() {
                    socket.send(JSON.stringify(json_input));
                }
            socket.addEventListener('message', event => {
                update_transcript(event.data);
                let scroll_to_bottom = document.getElementById('display-area');
                scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
                // Put focus on input line
                input_field = document.getElementById('text_input')
                input_field.focus()
            });
        }
    };

    tickInterval = setInterval(function() {
        let status_message = document.getElementById('status_message');  
        status_message.innerHTML = status_message.innerText + '.'; 
    }, 1000);

    msgInterval = setInterval(function() {
        status_message = document.getElementById('status_message');  
        msg = get_msg(); 
        status_message.innerHTML = msg;
    }, 5000);

    messages = Array(
            "[yawn] Give me a minute while I get my shit together.",
            "Coffee?",
            "I can't find my socks.",
            "Patience, young padawan.",
            "Sorry, this is taking longer than I thought.",
            "Can we eat while we wait?",
            "Still feeling a bit woozy from last night.",
            "Did I already ask for coffee?",
            "I need more bacon!"
        );

    function get_msg () {
        if (messages.length == 0) {
            msg = "Aspeti!";
        } else {
            random_index = Math.floor(Math.random() * messages.length);
            msg = messages[random_index];
            messages = messages.slice(0, random_index).concat(messages.slice(random_index+1));
        };
        return msg;
    };

    xmlhttp.open("GET", url, true);
    xmlhttp.send(); 

    document.getElementById('input_form').onsubmit = ev => {
        ev.preventDefault();
        let textfield = document.getElementById('text_input');
        // Make changes here to match index.html from server to send json with session_id
        human_input = textfield.value;
		textfield.value = '';
        session_id = document.getElementById('session_id').value;
        json_input = {
            "session_id" : session_id,
            "input": human_input
        }
        // alert(JSON.stringify(json_input))
        let socket = new WebSocket(socket_url);
        socket.onopen = function() {
				socket.send(JSON.stringify(json_input));
			}
        socket.addEventListener('message', event => {
            update_transcript(event.data);
        });
    };

</script> 
</body> 
</html>