{% extends "base.html" %}

{% block content %}
<h1>Sudoku Bot</h1>  
<div class="center-div" id="display-area">
    <table id="transcript">
        {{ transcript | safe}}
    </table>
</div>
   
<div class="center-input">
    <form id="input">
        <input autofocus type="text" id="text_input" name="text_input" placeholder="Your input text">
    </form>
</div>
<div hidden>
    <input type="text" id="socket_url" value={{url}}>
    <img src="https://i.imgur.com/1p2XJr9.jpg" width="25" height="25" style="background-color:#aaaaaa;">
    <img src="https://i.imgur.com/PnPpzNd.jpg" width="25" height="25" style="background-color:#aaaaaa;">
</div>
<script>
    const update_transcript = (html) => {
        document.getElementById('transcript').innerHTML = html;
        scroll_to_bottom = document.getElementById('display-area');
        scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
        input_field = document.getElementById('text_input')
        input_field.focus()
    };
    let socket_url = document.getElementById('socket_url');
    document.getElementById('input').onsubmit = ev => {
        ev.preventDefault();
        let textfield = document.getElementById('text_input');
        input = textfield.value;
		textfield.value = '';
        let socket = new WebSocket(socket_url.value);
        socket.onopen = function() {
				socket.send(input);
			}
        socket.addEventListener('message', event => {
            update_transcript(event.data);

        });
    };
    scroll_to_bottom = document.getElementById('display-area');
    scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
    input_field = document.getElementById('text_input')
    input_field.focus()
</script>
  {% endblock %}