{% extends "base.html" %}

{% block content %}
<h1>Sudoku Bot</h1>  
<div class="center-div" id="transcript">
    {{ transcript|safe }}
</div>
   
<div class="center-input">
    <form action="/" method="post" novalidate>
        <input autofocus type="text" id="text_input" name="text_input" placeholder="Your input text">
    </form>
</div>
<script>
    let scroll_to_bottom = document.getElementById('transcript');
    scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
</script>
  {% endblock %}