{% extends "base.html" %}

{% block content %}
<h1>Sudoku Bot</h1>  
<div class="center-div">

    <table>
        <tr>
            <td>
                <img src="static/images/bot.jpg" width="25" height="25" style="background-color:#aaaaaa;">
            </td>
            <td>
                Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
            </td>
        </tr>
        <tr>
            <td>
                <img src="static/images/you.png" width="25" height="25" style="background-color:#aaaaaa;">
            </td>
            <td>
                Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
            </td>
        </tr>
        <tr>
            <td>
                <img src="static/images/you.png" width="25" height="25" style="background-color:#aaaaaa;">
            </td>
            <td>
                Fred
            </td>
        </tr>
        <td>
            <img src="static/images/you.png" width="25" height="25" style="background-color:#aaaaaa;">
        </td>
        <td>
            Fred
        </td>
    </tr>
    </table>
    <img src="/static/images/bot.jpg" width="25" height="25">

    <p>
        q w e r t y u i o p a s d f g h j k l  z x c v b n m n b v c x z
         a s d f g h j k l p o i u y t r e w q
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
    <p>
        Hi there ask sdfk sdf skdf eoiwe wef oiwebf w eflowef kw eflojwe fwleob weflweoff wef wef
        wkenflwe fwle fwlw eflpwe f welfw efweljf  w.emfoiwihwf 
    </p>
</p>
<p>
    Hi there
</p>
</p>
<p>
    Hi there
</p>
</p>
<p>
    Hi there
</p>
   
   </div>
   
<div class="center-input">
    <form action="/converse" method="post" novalidate>
        <input autofocus type="text" id="text_input" name="text_input" placeholder="Your input text">
    </form>
  </div>
  {% endblock %}