{% extends "base.html" %}

{% block content %}
<h1>Sudoku Bot</h1>  
<div class="center-div" id="transcript">
    {{ transcript|safe }}
</div>
   
<div class="center-input">
    <form id="input">
        <input autofocus type="text" id="text_input" name="text_input" placeholder="Your input text">
    </form>
</div>
<script>
    const update_transcript = (html) => {
        document.getElementById('transcript').innerHTML = html;
    };
    const socket = new WebSocket('ws://' + location.host + '/ws');
    socket.addEventListener('message', event => {
        update_transcript(event.data);
        let scroll_to_bottom = document.getElementById('transcript');
        scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
    });
    document.getElementById('input').onsubmit = ev => {
        ev.preventDefault();
        let textfield = document.getElementById('text_input');
        socket.send(textfield.value);
        textField.value = '';
      };
</script>
  {% endblock %}